<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Invoice | SL Digital Solutions</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
            media="all"
        />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img
                    src="{{ url_for('static', filename='logo.png') }}"
                    alt="Logo"
                />
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}"
                            >Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="{{ url_for('main.new_invoice') }}"
                            >New Invoice</a
                        >
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-5">{% block content %}{% endblock %}</div>
    </body>
</html>
